<app-layout>
  <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>
  
  <app-page-header 
    title="Gestionare Persoane & Entități" 
    description="Înregistrați și gestionați persoanele fizice și juridice în registrul agricol.">
  </app-page-header>

      <app-generic-table

        [data]="persoane"
        [columns]="columns"
        [filters]="filters"
        [actions]="actions"
        [title]="'Persoane Înregistrate'"
        [itemsPerPage]="6"
        [primaryActionText]="'Adaugă Persoană'"
        (primaryAction)="goToCreatePerson()">
      </app-generic-table>
</app-layout>
<app-persoana-form 
  *ngIf="showPersonModal" 
  [isModal]="true" 
  [editId]="editPersonId" 
  (closeForm)="closePersonModal()">
</app-persoana-form>
